:root {
    --black: #000;
    --wine: #3B0017;
    --white: #fff;
    --pink: #FFCCCE;
    --dark-pink: #fa8b8f;
    --gray: rgba(225, 225, 225, 0.25);
    --green: #09c372;
    --red:rgb(223, 11, 11);
    --yellow: #FFDEC9;

}